@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/*reset css*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, button, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	word-break: keep-all;
	vertical-align: baseline;
  	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
section, div {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    vertical-align: middle;
}

html, body {
    scroll-behavior: smooth;
}
main {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background: #222;
    color: #fff;
    overflow: hidden;
}
button {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.PJWidth {
    width: 1280px;
    margin: 0 auto;
}
.PJPadding{
    padding: 5rem 0;
}
.tit {
    margin-bottom: 4.5rem;
    font-weight: 300;
    text-align: center;
    font-size: 3.5rem;
}
.fade-in {
    opacity: 1 !important;
}
.colorPT {
    color: #65ffc0;  
}
.colorPT1 {
    color: #6965ff;  
}
.colorPT2 {
    color: #bbb9ff;  
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 1.2rem 0;
    font-size: 1.4rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}
.header a {
    color: #fff;
    cursor: pointer;
}
.header .topNav {
    float: right;
}
.header .topNav ul {
    display: flex;
}
.header .topNav ul li{
    margin-left: 2rem;
}
.header .topNav ul li a::after {
    display:block;
    content: '';
    padding-bottom: 1px;
    border-bottom: solid 1px #65ffc0;  
    transform: scaleX(0);  
    transition: all 0.3s ease-in-out;
}
.header .topNav ul li a:hover {
    color: #65ffc0;
    transition: all 0.3s ease-in-out;
}
.header .topNav ul li a:hover::after { 
    transform: scaleX(1); 
}
.header .topNav ul li a.active {
    color: #65ffc0;
    transition: all 0.3s ease-in-out;
}
.currentTime{
    font-weight: 200;
    color: #ccc;
}

.section {
    position: relative;
    /* transition: all 3s ease-in-out;
    opacity: 0; */
    overflow-x: hidden;
}

.section01 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.section01 .titTop {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: -45px;
    z-index: 9;
    color: #fff;
}
.section01 .titTop .bigTit{
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 1.2;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.section01 .titTop .smallTit{
    margin-top: 5rem;
    text-align: right;
    font-size: 1.6rem;
    line-height: 1.5;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);  
}
.section01 .titTop .bigTit span, 
.section01 .titTop .smallTit span {
    display: inline-block;
    transition: all 1.5s ease-in-out;
    transform: translateY(40px);
    opacity: 0;
}
.section01 .titTopBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section01 .scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    color: #ccc;
    font-size: 0.9rem;
    text-align: center;
    z-index: 9;
}
.section01 .scroll span {
    display: inline-block;
    width: 22px;
    height: 30px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.section01 .scroll span::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    transform: translateY(-3px);
    background: #65ffc0;
    border-radius: 100%;
    animation: scroll 1s ease-in-out 0s infinite alternate;
}
@keyframes scroll {
	0% {transform: translateY(-3px);}
	100% {transform: translateY(10px);} 
}
.section01 .titTopBg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#aboutMe {
    background: url(images/decoTxt.png) repeat-x 100% 55% / 80% auto fixed;
    animation: txt 20s linear infinite;
}
@keyframes txt {
    to {
        background-position: -100% 50%;
    }
}
.section02 {
    height: 100vh;
}
.section02 > div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9;
}
.section02 .aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section02 .aboutMe div:first-child {
    flex: 0 1 auto;
    width: 352px;
}
.section02 .aboutMe .speech {
    flex: 1;
    margin-left: 5rem;
}
.section02 .aboutMe .speech div {
    position: relative;
    width: 100%;
    padding: 2rem 2.8rem;
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #333;
    border-radius: 15px;
    background: #fff;
}
.section02 .aboutMe .speech div::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    margin-bottom: -20px;
    border: 30px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    border-left: 0;
    border-radius: 5px;
}
.section02 .aboutMe .speech div p {
    margin-bottom: 25px;
}
.section02 .aboutMe .speech div p:last-child {
    margin-bottom: 0;
}
.section02 .aboutMe .speech div p strong {
    font-weight: 600;
}

.project ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.section03 .project ul {
    margin-bottom: -70px;
}
.project ul li {
    flex: 0 0 calc(33.333% - 30px);
    margin: 0 15px 70px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4;
    box-sizing: border-box;
}
.project ul li div {
    position: relative;
    height: 295px;
    margin-bottom: 15px;
    border: 1px solid #555;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}
.project ul li div a img {
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}
.project ul li div a:hover img {
    transform: scale(1.1);
}
.project ul li p strong{
    display: block;
    font-weight: 500;
    font-size: 1.3rem;
}

/*slide css*/
.carousel {
    position: relative;
    overflow: hidden;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 6rem;
}
.carousel .slick-slide.slick-center{
    opacity: 1;
    transform: scale(1);
}
.carousel .slick-slide{
    margin: 0 5px;
    opacity: 0.3;
    transform: scale(0.9);
    transition: opacity 0.3s ease-in-out, transform 0.8s ease-in-out;
}
.carousel .slick-prev, .carousel .slick-next {
    width: auto;
    height: auto;
    z-index: 9;
}
.carousel .slick-prev {
    left: 28%;
}
.carousel .slick-next {
    right: 28%;
}
.carousel .slick-prev:before, .carousel .slick-next:before {
    font-family: "Pretendard Variable", 'Pretendard Variable';
    font-size: 5rem;
    font-weight: 100;
    vertical-align: middle;
    opacity: .5;
    transition: all 0.3s linear;
}

.section04 .project ul li{
    margin-bottom: 15px;
}
.section04 .detailDesign ul li div {
    height: 445px;
}
.section04 .project ul li.package div {
    display: flex;
    align-items: center;
    background: #fff;
}
.section04 .project ul li div img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}
.section04 .project ul li div:hover img {
    transform: translateY(calc(-100% + 490px));
}
.section04 .project ul li.package div:hover img {
    transform: translateY(0);
}
.section04 .project ul li div:hover::after {
    content: 'READ MORE';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 4rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 0.15rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
}

/*modal css*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999 !important;
    overflow: hidden;
}
.modal-content {
    position: absolute;
    top: calc(50% + 17px);
    left: 50%;
    max-width: 700px;
    height: 90%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
    overflow-y: auto;
    z-index: 999;
}
.close {
    line-height: 1.1;
    font-weight: 200;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.footer {
    padding: 4rem;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #ccc;
    text-align: center;
    border-top: 1px solid #333;
}

/*topbutton css*/
@-webkit-keyframes hvr-ripple-out {
    100% {
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
      opacity: 0;
    }
}
@keyframes hvr-ripple-out {
    100% {
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
      opacity: 0;
    }
}
.topButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #bbb9ff;
    color: #222;
    font-size: 1.8rem;
    font-weight: 300;
    border-radius: 100%;
    cursor: pointer;
    z-index: 99;
    transform: perspective(1px) translateY(5px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}
.topButton.show {
    opacity: 1;
    transform: translateY(0);
}
.topButton:hover::before {
    content: '';
    position: absolute;
    border: 8px solid #bbb9ff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
}

/*scroll css*/
body::-webkit-scrollbar, .modal-content::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track, .modal-content::-webkit-scrollbar-track { 
    background-color: #c5c5c5;
}
body::-webkit-scrollbar-thumb, .modal-content::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #414141;
    border-radius: 5px;
}
body::-webkit-scrollbar-button, .modal-content::-webkit-scrollbar-button {
    display: none;
}
body::-webkit-scrollbar-thumb:hover, .modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #bbb9ff;
    cursor: pointer;
}
